export(
attrEval,
allTests,
infoCore,
classDataGen,
CoreModel,
destroyModels,
getCoreModel,
getRFsizes,
modelEval,
loadRF,
ordDataGen,
ordEval,
paramCoreIO,
plotOrdEval,
printOrdEval,
regDataGen,
rfAttrEval,
saveRF,
testCoreClass,
testCoreAttrEval,
testCoreReg,
testCoreOrdEval,
testCoreNA,
testCoreRPORT,
testCoreRand,
testClassPseudoRandom,
testTime,
versionCore,
calibrate,
preparePlot,
rfProximity,
rfAttrEvalClustering,
rfClustering,
rfOutliers,
classPrototypes,
getRpartModel
)

S3method(plot, ordEval)
S3method(predict, CoreModel)
S3method(plot, CoreModel)

